@model List<Logo>
 @{


     List<Logo> logos=Model.Lo
 }

<div class=" col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
    <a class="text-black-50 mr-5"
       href="@Model."></a>
    <a class="text-black-50" href="https://www.facebook.com/shamilzada.bakhtiyar">FACEBOOK</a>
</div>

